$color-purple: rgb(178 93 255);
$color-pink: rgb(255, 126, 255);
$color-orange: rgb(245, 168, 3);
$color-green: rgb(11, 245, 3);
$color-grey: #242421;

body {
  display: flex;
  padding: 1em 1em;
  margin: 0;
  font-family: monospace;
  justify-content: center;
  background-image: url("/img/illo_1.webp");
  background-attachment: fixed;
  background-size: 900px;
}

p {
  font-size: 1.4em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

a {
  text-underline-offset: 0.5em;
  color: $color-green;
  line-height: 2em;

  &:hover {
    color: $color-pink;
  }
}

.page__background {
  display: flex;
  flex-direction: column;
  background-color: $color-grey;
  border: $color-green solid 1px;
  box-shadow: $color-green 5px 10px;
  border-radius: 2em;
  color: whitesmoke;
  padding: 2em 3em 2em 3em;
}

article {
  a {
    color: $color-green;
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 10em 2em;
  margin-top: 8em;
  font-size: larger;
}

.wrapper {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background: $color-grey;
  min-width: 100%;
  overflow: hidden;
  padding-left: 1em;

  .header__text {
    display: flex;
    flex-direction: column;
    animation: move 5s infinite;
  }

  h1 {
    letter-spacing: 0.8rem;
    padding: 0em 1em;
    font-size: 2.2em;
    line-height: 3em;
    font-weight: normal;
  }

  .header__brackets {
    color: $color-green;
    font-size: 4em;
    font-weight: normal;
  }

  @keyframes move {
    0% {
      transform: translatey(-1vmin);
    }
    50% {
      transform: translatey(4vmin);
    }
    100% {
      transform: translatey(-1vmin);
    }
  }
}

.navBar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;

  .navBar__links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    min-width: 100%;

    li {
      padding: 0% 3% 0% 0%;

      p {
        background-color: $color-grey;
      }
    }
  }
}

.events__content {
  font-style: italic;
  font-weight: 100;
}

.events__list {
  list-style-type: none;
  padding: 1em 0em;
  margin: 1em 1em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: whitesmoke;

  li {
    background-color: $color-grey;
    border: $color-green solid 1px;
    box-shadow: $color-green 5px 10px;
    border-radius: 2em;
    padding: 1.5em;
    margin: 1.5em 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  .events__list--decoration {
    padding-left: 1em;
    font-size: xx-large;
  }
}

.events__box {
  padding: 1em 0em 1em;
}

.events__thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5em;

  img {
    max-width: 14em;
    border-radius: 50%;
    border: $color-green solid 0.5px;
  }
}

.image--hero {
  padding: 2em 0em 2em;
  max-width: 100%;
  border-top-right-radius: 20em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

img {
  max-width: 100%;
}

.blog__list {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: dashed;
    color: $color-green;
  }
  h2 {
    &:hover {
      color: $color-orange;
    }
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    padding-bottom: 1.5em;
  }
}

.image__icon {
  max-width: 150px;
  align-self: center;
  justify-self: center;
}

/* smartphones etc. (600px and up) */
@media (max-width: 600px) {
  main {
    padding: 1em 0em 10em 0em;
    margin-top: 25vh;
    font-size: large;
  }

  .header {
    .header__text {
      display: none;
    }
  }

  p {
    font-size: large;
  }

  .wrapper {
    min-width: 90vw;
  }

  .events__list {
    margin: 0em;

    li {
      max-width: 90vw;
    }
  }

  .events__thumbnail {
    display: none;
  }

  .navBar {
    padding-left: 0;
    .navBar__links {
      background-color: white;
      font-size: large;
      letter-spacing: 0.1rem;

      li {
        padding: 0em 0.5em 0em 0.5em;
      }
    }
  }

  .blog__post {
    display: flex;
    flex-direction: column;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .wrapper {
    max-width: 50vw;
  }
}
