body {
  display: flex;
  padding: 1em 1em;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-underline-offset: 0.5em;
  color: rgb(178, 93, 255);
  line-height: 2em;

  &:hover {
    color: rgb(245, 168, 3);
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin-top: 11vh;
}

.wrapper {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  h1 {
    letter-spacing: 1rem;
    padding: 0em 1em;
    background-color: white;
  }

  .header__brackets {
    color: rgb(178 93 255);
    font-size: 4rem;
  }
}

.navBar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-self: center;
  justify-content: center;

  .navBar__links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: xx-large;
    font-weight: bolder;
    font-weight: bolder;
    letter-spacing: 0.3rem;

    li {
      padding: 0em 3em 0em 0em;

      p {
        background-color: white;
      }
    }
  }
}

.home__content {
  font-style: italic;
  font-size: larger;
  font-weight: 100;
}

.home__list {
  list-style-type: none;
  padding: 1em 0em;
  margin: 1em 1em 0em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  li {
    border: black solid 1px;
    padding: 1.5em;
    margin: 1em 0em;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
  }

  a {
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  .home__list--decoration {
    padding-left: 1em;
    font-size: xx-large;
  }
}

.home__box {
  padding: 1em;
}

.home__thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding-left: 1em;

  img {
    max-width: 14em;
    border-radius: 45%;
    border: black solid 2px;
  }
}

.image--hero {
  padding: 2em 0em 2em;
  max-width: 100%;
  border-top-right-radius: 20em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

.blog__list {
  display: flex;
  h2 {
    color: green($color: #000000);
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    padding-bottom: 1.5em;
  }
}

/* smartphones etc. (600px and up) */
@media (max-width: 600px) {
  main {
    padding: 1em 0em;
    margin-top: 12vh;
  }

  .wrapper {
    min-width: 90vw;
  }

  .home__list {
    margin: 0em;

    li {
      max-width: 90vw;
    }
  }

  .home__thumbnail {
    display: none;
  }

  .navBar {
    .navBar__links {
      background-color: white;
      font-size: medium;
      letter-spacing: 0.1rem;

      li {
        padding: 0em 1.5em 0em 0em;
      }
    }
  }

  .blog__post {
    display: flex;
    flex-direction: column;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .wrapper {
    max-width: 50vw;
  }
}
